<!DOCTYPE html>
<html>

<head>
    <title>react-insta-stories</title>
    <link rel="shortcut icon" type="image/ico" href="/ris.ico" />
    <link href="https://fonts.googleapis.com/css?family=Karla|Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
</body>

</html>