body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  height: 87vh;
}

.stories{
  filter: drop-shadow(0 10px 10px #888);
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  justify-content: flex-start;
  max-width: 350px
}

p{
  margin: 0
}

code {
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 768px){
  .App{
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .left{
    max-width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
} 
